<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primer documento en HTML</title>
    <link href="css/main.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body>


    <header class="main-header">
   
        <div class="main-header-top-bar">
            <div class="main-header-logo-search">
            <a class="active" href="./"><img src="/images/logo-mercado-liebre.svg" class="logo"></a>


            <nav class="search">
                <input type="text" name="search" placeholder="Buscar productos, marcas" ><i class="fas fa-search"></i>
                
            </nav>

            </div>

            <h3 class="compraEnCuotas">
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y con tarjeta de crédito
            </h3>
        </div>

    
        <nav class="main-navbar">
            <ul class="left-navbar">
                <a>Óferta</a>
                <a>Tiendas Oficiales</a>
                <a>Vender</a>
                <a>Ayudas &nbsp</a>
            </ul>
            
            <ul class="right-navbar">
                <a class="active" href="./register">Creá tu cuenta &nbsp<i class="far fa-address-card"></i></a>
                <a class="active" href="./login">Ingresá &nbsp<i class="fas fa-sign-in-alt"></i></i></a>
                <a>Mis compras &nbsp<i class="fas fa-shopping-basket"></i> </i></a>
            </ul>
        </nav>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>

    </header>

    <section>
        <img src="/images/img-home-banner.jpg" alr="banner" class="banner">
    </section>

    <main>
       
        <h2>Últimas visitas</h2>
        <section class="products-container">
        
           
            <article class="product">
                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Molinex" width='300' class="product_img">
                <div class="main-article">
                    <div class="flex-container">
                        <em class="fas fa-truck"></em>
                    </div>

                    <div class="flex-price-info">
                        <p class="precios">$6.770</p>
                        <p class="descuentos">40% off</p>
                    </div>

                    <p class="titulares"> <strong></strong>Cafetera Moulinex</p>
                </div>
            </article>
            <article class="product">
                <img src="/images/img-macbook-pro-2019.jpg" alt="Macbook Pro" width='300' class="product_img">
                <div class="main-article">
                    <div class="flex-container">
                        <em class="fas fa-truck"></em>
                    </div>
                    <div class="flex-price-info">
                    <p class="precios">$230.000</p>
                    <p class="descuentos">20% off</p>
                </div>
                <p class="titulares"><strong></strong>MacBook Pro 2019</p>
              </div>

                
                
            </article>
            <article class="product">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsun Galaxy s10" width='300' class="product_img">
                <div class="main-article">
                    <div class="flex-container">
                        <em class="fas fa-truck"></em>
                    </div>
                    <div class="flex-price-info">
                    <p class="precios">$70.500</p>
                    <p class="descuentos">10% off</p>
                </div>
                <p class="titulares"><strong></strong>Samsung Galaxy S10</p>
                </div>

               
               
            </article>
            <article class="product">
                <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv" width='300' class="product_img">
                <div class="main-article">
                    <div class="flex-container">
                        <em class="fas fa-truck"></em>
                    </div>
                    <div class="flex-price-info">
                    <p class="precios">$23.200</p>
                    <p class="descuentos">5% off</p>
                </div>
                <p class="titulares"><strong></strong>SmartTv Samsung 43"</p>
                </div>

               
            </article>
        </section>

          <h2>Ofertas</h2>

        <section class="products-container">
            <article class="product">
                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Molinex" width='300' class="product_img">
                <div class="main-article">
                    <div class="flex-container">
                        <em class="fas fa-truck"></em>
                    </div>
                    <div class="flex-price-info">
                    <p class="precios">$6.770</p>
                    <p class="descuentos">40% off</p>
                </div>
                <p class="titulares"><strong></strong>Cafetera Moulinex</p>
                </div>
                
            </article>
            <article class="product">
                <img src="/images/img-macbook-pro-2019.jpg" alt="Macbook Pro" width='300' class="product_img">
                <div class="main-article">
                    <div class="flex-container">
                        <em class="fas fa-truck"></em>
                    </div>
                    <div class="flex-price-info">
                    <p class="precios">$230.000</p>
                    <p class="descuentos">20% off</p>
                </div>
                <p class="titulares"><strong></strong>MacBook Pro 2019</p>
                </div>
              
            </article>
            <article class="product">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsun Galaxy s10" width='300' class="product_img">
                <div class="main-article">
                    <div class="flex-container">
                        <em class="fas fa-truck"></em>
                    </div>
                    <div class="flex-price-info">
                    <p class="precios">$70.500</p>
                    <p class="descuentos">10% off</p>
                   </div>
                   <p class="titulares"><strong></strong>Samsung Galaxy S10</p>
                </div>
                
                
            </article>
            <article class="product">
                <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv" width='300' class="product_img">
                <div class="main-article">
                    <div class="flex-container">
                        <em class="fas fa-truck"></em>
                    </div>
                    <div class="flex-price-info">
                    <p class="precios">$23.200</p>
                    <p class="descuentos">5% off</p>
                </div>
                <p class="titulares"><strong></strong>SmartTv Samsung 43"</p>
                </div>
                
           
            </article>
    
            
        </section>

    </main>

    <footer class="main-footer">

        <div class="paragraph-1">
            <i class="fas fa-credit-card" id="card"></i>
            <h2 class="pay-phrase"> Pagá con tarjeta o en efectivo </h2>
            <h3 class="text"> Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</h3>

            <div class="paragraph-2">
                <i class="fas fa-gift" id="gift"></i>
                <h2 class="shipping-phrase">Envío gratis desde los $2.500</h2>
                <h3 class="text">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</h3>

                <div class="paragraph-3">
                    <i class="fas fa-user-shield" id="shield"></i>
                    <h2 class="security-phrase"> Seguridad de princio a fin</h2>
                    <h3 class="text">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                        porque estás siempre protegid@.</h3>

                    <h4 class="Copyright">Copyright © 1999-2022 MercadoLiebre S.R.L.</h4>

    </footer>





</body>

</html>